<nav>
  <a class="brand" href="/">Trent Jones</a>

  <div class="nav-links">
    <a href="/projects">Projects</a>
    <a href="/writing">Writing</a>
    <a href="/cv">CV</a>
    <a href="https://github.com/FizzBuzz791">GitHub</a>
  </div>
</nav>
