---
const { title, description, href, status } = Astro.props;
---

<a class="project-card" href={href}>
  <div class="project-header">
    <h3>{title}</h3>
    <span>{status}</span>
  </div>

  <p>{description}</p>
</a>