---
import Nav from "../components/nav.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Trent Jones</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<p>© 2024 Trent Jones | Built with Astro 🚀</p>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
